@font-face {
  font-family: "Comic Neue";
  src: url("assets/fonts/Comic_Neue/ComicNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Comic Neue";
  src: url("assets/fonts/Comic_Neue/ComicNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Comic Neue";
  src: url("assets/fonts/Comic_Neue/ComicNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comic Neue";
  src: url("assets/fonts/Comic_Neue/ComicNeue-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Comic Neue";
  src: url("assets/fonts/Comic_Neue/ComicNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Comic Neue";
  src: url("assets/fonts/Comic_Neue/ComicNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Neue", cursive;
}

main {
  display: flex;
  gap: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0 0 10px 0;
}

ul > li {
  margin: 0 0 10px 0;
  line-height: 150%;
}

h1 {
  margin: 5px 0 10px 0;
}

h2 {
  margin: 5px 0 10px 0;
}

h3 {
  font-size: 20px;
  margin: 5px 0 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.header__item {
  position: relative;
}
.header__quote {
  font-size: 20px;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
}
.nav__item {
  list-style: none;
  text-align: center;
}
.nav__item:hover {
  background-color: #000000;
}
.nav__link {
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 4px 0;
}
.nav__link:hover {
  color: #F1F1F1;
}

.cv-info {
  max-width: 70%;
}

.section__content {
  padding: 0 0 0 1rem;
}
.section__list-item {
  margin-left: 40px;
}

.code-wrapper {
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 5px 0;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.footer__item {
  position: relative;
}
.footer__link {
  position: absolute;
  inset: 0;
}
.footer__link-year {
  font-size: 20px;
  font-weight: 400;
}
.footer__img {
  max-height: 32px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
  main {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .cv-info {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .header__quote {
    font-size: 1rem;
  }
  .header__img {
    width: auto;
    height: 32px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .cv-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .cv__photo-frame {
    width: 100%;
  }
  .cv__photo-img {
    width: 100%;
    height: auto;
  }
  .cv-info {
    max-width: 100%;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 1rem;
  }
  .section__content {
    padding: 0 0 0 0.5rem;
  }
  .section__list-item {
    margin-left: 30px;
  }
  .cv-info {
    max-width: 95%;
  }
}/*# sourceMappingURL=style.css.map */